.side-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#f0f4f9;
  box-sizing:border-box
}

.side-bar img{
  width: 20px;
}
.top,.down{
  padding-left: 1rem;
  margin-left: 15px;;
  padding:1rem;
}
.new-chart{
       display: flex;
      align-items: center;
      margin-top: 50px;
      gap: 10px;
      border-radius: 15px;
      border: -2.7px solid gray;
      border-radius: 50%;
      font-size: medium;
      background: #e2e6eb;
      padding: 6px;
}
.recent{
  margin-top:1rem;
display: flex;
flex-direction: column;
gap:10px;
animation:fadeIn 1.5s;
}
.recent .recent-item{
  display: flex;
  align-items: center;
  gap:10px;
  cursor: pointer;
}
.down{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.down .df{
  display: flex;
  align-items: center;
  gap:10px;
  cursor: pointer;
}
.side-bar .top .new-chart p{
    border: 1px solid gray;
    border: 2rem;
}
.recent .recent-item:hover{
  background-color: #e2e6eb;
}
.down .df:hover{
  background-color: #e2e6eb;
  border-radius: 2rem
}
.new-chart-cursor{
   cursor: pointer;
}
@media (max-width:600px) {
   .side-bar{
    display: none;
   }
}